
.email-preview-container{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    line-height: 60px;
    transition: .3s;
    box-shadow: 0px 0px 1px #0000003b
}

.email-preview-container:hover {
    background-color: rgba(199, 199, 199, 0.466);
    box-shadow: 0 0px 5px black;
}

.container {
    padding: 0;
    display: flex;
}

.bold{
    font-weight: bold;
}

.message-container .decription {
    color: rgb(141, 141, 141)
}


.email-preview-container h2 {
    width: 220px;
}

.txt-search {
    padding: 5px 10px;
    border: 1px solid #b7b7b7;
    border-radius: 30px;
    font: normal 20px/normal "IbmplFont", cursive, sans-serif;
    color: rgba(0,142,198,1);
    background: rgba(252,252,252,1);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    margin-bottom: 30px;
}
