.emails-list {
    width: 100%;
    
}

.email-preview-container{
    background-color: #eeeeee;
    display: flex;
    text-align: left;
    cursor: pointer;
    line-height: 35px;
    transition: .3s;
    box-shadow: 0px 0px 1px #0000003b
}

.email-preview-container:hover {
    background-color: rgba(199, 199, 199, 0.466);
}

.email-preview-container img{
    align-self: center;
    background-color: rgba(87, 87, 87, 0.397);
    padding: 5px;
    border-radius: 50%;
    height: 14px;
}

.email-preview-container img:hover {
    background-color: rgba(68, 68, 68, 0.623);
}

.container {
    padding: 0;
    display: flex;
}

.right-side{
    display: flex;
}

.right-side>* {
    margin: 5px;
}

.bold{
    font-weight: bold;
}

img.yellowed {
    background-color: yellow;
}

img.yellowed:hover {
    background-color: rgb(141, 141, 0);
}

.message-container .decription {
    color: rgb(141, 141, 141)
}

.email-preview-container h2 {
    width: 220px;
    padding-left: 20px;
}

.massage-content {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.txt-mail {
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    font: normal 20px/normal "IbmplFont", cursive, sans-serif;
    color: rgb(93, 92, 92);
    background: rgba(252,252,252,0.8);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    margin-bottom: 30px;
}

button {
    cursor: pointer;
}

.my-form {
    position: fixed;
    right: 50px;
    bottom: 0;
    background-color: rgb(98, 94, 94);
    padding: 30px;
}

.my-form>* {
    display: flex;
    flex-direction: column;
}

.my-form input {
    margin: 13px;
}

.my-form .form-area {
    margin: 13px;
    height: 200px;
    width: 500px;
    background-color: white;
}

.sidenav-bar a { 
    width: 150px;
    margin: 50px;
}
    
.filters-container {
    background-color: lightgray;
    line-height: 100px;
}
    
.email-details {
    text-align: left;
}

.sender {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sender {
    font-weight: bold;
}

.sender>* {
    margin-right: 5px;
}

.email-starred-container {
    background-color: #eeeeee;
    display: flex;
    text-align: left;
    cursor: pointer;
    line-height: 35px;
    transition: .3s;
    box-shadow: 0px 0px 1px #0000003b
}