@import url("/css/top-nav-bar.css");
@import url("/css/home-page.css");
@import url("/css/email-app.css");
@import url("/css/side-nav-bar.css");

@font-face {
    font-family: IbmplFont;
    src: url(/fonts/IBMPlexSans-Regular.ttf);
}

html,body {
    margin: 0px;
    padding: 0px;
    font-family: "IbmplFont";
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
}