
img {
    cursor: pointer;
}

.colorClicked {
    fill: black;
    background-color: blue;
    color:yellow;
}

.note-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note-preview {
    border: 1px solid black;
    cursor: pointer;
    padding: 20px;
    margin: 25px;
    width: 20vw;
    border-radius: 4px
}

.input-color-container {
    position: relative;
    overflow: hidden;
    top: 12px;
    width: 20px;
    height: 20px;
    border: solid 2px #ddd;
    border-radius: 40px;
  }
  
  .input-color {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 56px;
    height: 56px;
    border: none;
  }
  