
img {
    cursor: pointer;
}

.colorClicked {
    fill: black;
    background-color: blue;
    color:yellow;
}

.note {
    border: 1px solid black;
    cursor: pointer;
    padding: 20px;
    margin: 10px;
    width: 30vw;
}