/* .sidenav-bar {
    display: flex;
}

.sidenav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.829);
}

.sidenav-bar li a:hover {
    transition: 0.3s;
    background-color: #111;
}

.sidenav-bar li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

.container > :first-child {
    height: -webkit-fill-available;
    background-color:rgba(190, 182, 182, 0.376);

}

.btn-compose {
    position: absolute;
    box-shadow: 0 0 4px 0px black;
    left: 40px;
    top: 167px;
}

.sidenav-bar ul {
    padding: 0;
}

.sidenav-bar a {
    display: flow-root;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 70px;
}

.sidenav-bar li:first-child {
margin-top: 100px;
}
.sidenav-bar li {
list-style-type: none;
}