

.container > :first-child {
    height: -webkit-fill-available;
    background-color:white;
    box-shadow: 0 0 17px 0px black;
}

.email-btn.btn-compose {
    margin: -13px;
    margin-bottom: 50px;
    position: absolute;
    box-shadow: 0 0 4px 0px black;
    left: 30px;
    top: 140px;
}

.sidenav-bar ul {
    padding: 0;
}

.sidenav-bar li a:hover {
    transition: 0.3s;
    box-shadow: 0 0 7px 1px black;
    background-color: #858585;
}
.sidenav-bar a {
    margin:0;
    display: flow-root;
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 170px;
    height: 40px;
    padding-top: 15px;
}

.sidenav-bar li:first-child {
    margin-top: -20px;  
}

.sidenav-bar li {
    list-style-type: none;
}