.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(41, 40, 40, 0.829);
}

.nav-bar ul li {
    float: left
}

.nav-bar li a:hover {
    transition: 0.3s;
    background-color: #858585;
    box-shadow: 0 0 7px 1px rgb(77, 76, 76);
}

.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}