.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.829);
}

.nav-bar ul li {
    float: left
}

.nav-bar li a:hover {
    transition: 0.9s;
    background-color: #111;
}

.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}